server {
    listen {{ port }};
    server_name {{ domain }} static.minos.io;
    root /var/www/{{ domain }}/;

    location ~ ^/cgi-bin           { return 444; }
    location ~ \.(?:php|aspx|asp)$ { return 444; }
    location ~ php\.cgi$           { return 444; }
    location ~ ^/images/stories    { return 444; }
    location ~ myadmin             { return 444; }

    if ($request_method !~ ^(GET|HEAD|POST)$ ) { return 444; }

    location / {
        #catch status health check requests
        if ( $http_user_agent ~* 'UptimeRobot' ) {
            access_log off;
        }
        if ( $http_user_agent ~* 'StatusCake' ) {
            access_log off;
            return 200 'Service OK';
        }
        #blacklist certain user-agents
        if ($http_user_agent ~* (Baiduspider|researchscan|SeznamBot|InfoPath|zgrab|nmap|spbot)) {
            access_log off;
            return 444;
        }
        autoindex on;
        autoindex_exact_size off;
    }

    location /static-get {
        #https://s.minos.io/s should redirect to a https site, meanwhile http is kept for compatibility
        #with bare minimal systems like busybox wget
        #rewrite ^/.* https://raw.githubusercontent.com/minos-org/minos-static/master/static-get permanent;
        rewrite ^/.* {{ cdn }} permanent;
    }

    location /s {
        #https://s.minos.io/s should redirect to a https site, meanwhile http is kept for compatibility
        #with bare minimal systems like busybox wget
        #rewrite ^/.* https://raw.githubusercontent.com/minos-org/minos-static/master/static-get permanent;
        rewrite ^/.* {{ cdn }} permanent;
    }
}
