server {
    listen {{ port }};
    server_name {{ domain }} static.minos.io;
    root /var/www/{{ domain }}/;

    location / {
        #catch status health check requests
        if ( $http_user_agent ~* 'StatusCake' ) {
            access_log off;
            return 200 'Service OK';
        }
        #blacklist certain user-agents
        if ($http_user_agent ~* (Baiduspider|researchscan|SeznamBot|InfoPath|zgrab|nmap)) {
            return 403;
        }
        autoindex on;
        autoindex_exact_size off;
    }

    location /static-get {
        #https://s.minos.io/s should redirect to a https site, meanwhile http is kept for compatibility
        #with bare minimal systems like busybox wget
        #rewrite ^/.* https://raw.githubusercontent.com/minos-org/minos-static/master/static-get permanent;
        rewrite ^/.* http://cdn.rawgit.com/minos-org/minos-static/eedf83d6e2fcc09622b3ee142d71788a3de0fe2b/static-get permanent;
    }

    location /s {
        #https://s.minos.io/s should redirect to a https site, meanwhile http is kept for compatibility
        #with bare minimal systems like busybox wget
        #rewrite ^/.* https://raw.githubusercontent.com/minos-org/minos-static/master/static-get permanent;
        rewrite ^/.* http://cdn.rawgit.com/minos-org/minos-static/eedf83d6e2fcc09622b3ee142d71788a3de0fe2b/static-get permanent;
    }

    if ($request_method !~ ^(GET|HEAD|POST)$ )
    {
        return 444;
    }
}
